front/node_modules/
front/.expo/
front/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
front/web-build/
backend/.env
backend/credentials.py
**/backend/__pycache__
backend/*.pyc
backend/notes.txt


# macOS
.DS_Store
