<html lang="en">

<head>
    <meta charset="utf-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
    </style>
</head>

<body style="
      background-color: #6bba62;
      padding: 50px;
      color: #232b2b;
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      margin: 0;
    ">
    <h1>
        <b><i>Football News Manager</i></b>
    </h1>
    <img style="display: block; margin: auto; height: 200px; width: 200px" src="{{logo_url}}" />

    <h3>It looks like You forget password.</h3>
    <h3>Click button below to reset current password.</h3>

    <a style="
        text-decoration: none;
        color: #6bba62;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        outline: none;
        border: none;
        background-color: #232b2b;
        padding: 15px 20px;
        cursor: pointer;
        margin: auto;
        display: block;
        border-radius: 4px;
        width: max-content;
      " href="">
        Reset Password
    </a>
    <h4>If You didn't make request to reset password You can ignore this email</h4>
</body>

</html>