{% load static %}
{% load i18n %}

<body style="
      background-color: #6bba62;
      padding: 50px;
      color: #232b2b;
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      margin: 0;
    ">
    <h1 style="font-size: 48px;">
        <b><i>Football News Manager</i></b>
    </h1>
    <img style="display: block; margin: auto; height: 200px; width: 200px"
        src="{{protocol}}://{{domain}}{% static 'images/fnm_logo_white.png' %}" />

    <h2>{% translate 'reset_password' %}</h3>

        <h3>{% translate 'reset_password_message' %}</h3>

        <a style="
        text-decoration: none;
        color: #6bba62;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        outline: none;
        border: none;
        background-color: #232b2b;
        padding: 15px 20px;
        cursor: pointer;
        margin: auto;
        display: block;
        border-radius: 4px;
        width: max-content;
      " href="">
            {% translate 'reset_password' %}
        </a>
        <h4> {% translate 'reset_password_accidental_request' %}</h4>
</body>